%h2= t('feeds.index_own.title')

%fieldset
  %legend= t('feeds.index_own.list_feeds')
 
%table.table.table-hover.table-striped
  %thead
    %tr
      %th= t('feeds.index_own.name')
      %th= t('feeds.index_own.category')
      %th
      %th
      %th
      %th
      %th

  %tbody
    - @feeds.each do |feed|
      %tr
        %td
          = feed.name
        - if can? :read, @feeds
          - if feed.status == 'user_fields' || feed.status == 'active'
            %td
              = link_to t('feeds.index_own.fields'), :action => 'fields', :id => feed.id
          - else
            %td
          - if feed.status == 'active'
            %td
              = link_to t('feeds.index_own.categories'), :action => 'categories', :id => feed.id
            %td
              = link_to t('feeds.index_own.download'), :controller => 'products', :action => 'export', :id => feed.id, user_id: current_user.id, :format => :xml 
            %td
              = link_to t('feeds.index_own.segment'), :action => 'filter', :id => feed.id
          - else
            %td
            %td
            %td
          %td
          %td{ :style => 'padding:4px' }
            = form_tag feed, :method => :delete, :style => 'margin: 0' do
              .btn-group.pull-right
                = link_to edit_feed_path(feed), :class => 'btn btn-small' do
                  %i.icon-pencil
                %button{ :onclick => "return confirm('#{t('feeds.index_own.delete_confirm')}')", :class => 'btn btn-danger btn-small' }
                  %i.icon-white.icon-trash
  %tfoot
    %tr
      %td{ :colspan => 7 }
        = link_to new_feed_path, :class => 'btn btn-small btn-success' do
          %i.icon-white.icon-plus
          = t('feeds.index_own.add_feed')
