= form_for @feed, :html => {:multipart => true} do |f|

  %fieldset
    %legend
      Add new feed
    .textfield
      = f.label :name
      = f.text_field  :name
    .select
      = f.label  :interval_in_seconds
      = f.select(:interval_in_seconds, options_for_select([['12 uur', '43200'],['24 uur', '86400'],['48 uur', '172800'], ['72 uur', '199200']]))
    .radio-area
      = label_tag :type_use_file 
    .btn-group{'data-toggle' => 'buttons-radio'}  
      %button{ :type => 'button', :class => 'btn btn-success' }
        Url
      %button{ :type => 'button', :class => 'btn btn-success' }
        File
      
    .textfield.url
      = f.label  :url
      = f.text_field :url
    .fieldfield.file.hidden
      = label_tag :file
      = file_field_tag :file

  = submit_tag "Inlezen"