= form_for @feed, :html => {:multipart => true} do |f|

  .item
    = f.label :name
    = f.text_field  :name

  .item
    = f.label  :url
    = f.text_field :url

  .item
    = label_tag :file
    = file_field_tag :file

  = submit_tag "Inlezen"

  = link_to 'Back', feeds_path