= form_for @usernotice, :url => { :action => "settings_update" }, :html => { :class => 'form-horizontal', :data => :usernotice } do |n|
	%fieldset
		%legend= t('labels.notification')

		%p.text-info= t('labels.notification_explain')
		
		.control-group
			= n.label :lead, t(:notification_lead), :class => 'control-label'
			.controls
				.btn-group{ 'data-toggle' => 'buttons-radio', 'data-target' => :lead, 'data-type' => 'boolean' }
					%button{ :type => 'button', :class => 'btn btn-mini', :value => 1 }
						= t(:on)
					%button{ :type => 'button', :class => 'btn btn-mini', :value => 0 }
						= t(:off)
				= n.hidden_field :lead
		.control-group
			= n.label :sale, t('labels.notification_sale'), :class => 'control-label'
			.controls
				.btn-group{ 'data-toggle' => 'buttons-radio', 'data-target' => :sale, 'data-type' => 'boolean' }
					%button{ :type => 'button', :class => 'btn btn-mini', :value => 1 }
						= t(:on)
					%button{ :type => 'button', :class => 'btn btn-mini', :value => 0 }
						= t(:off)
				= n.hidden_field :sale
		.control-group
			= n.label :feed, t('labels.notification_feed'), :class => 'control-label'
			.controls
				.btn-group{ 'data-toggle' => 'buttons-radio', 'data-target' => :feed, 'data-type' => 'boolean' }
					%button{ :type => 'button', :class => 'btn btn-mini', :value => 1 }
						= t(:on)
					%button{ :type => 'button', :class => 'btn btn-mini', :value => 0 }
						= t(:off)
				= n.hidden_field :feed
		.control-group
			= n.label :result, t('labels.notification_result'), :class => 'control-label'
			.controls
				.btn-group{ 'data-toggle' => 'buttons-radio', 'data-target' => :result, 'data-type' => 'boolean' }
					%button{ :type => 'button', :class => 'btn btn-mini', :value => 1 }
						= t(:on)
					%button{ :type => 'button', :class => 'btn btn-mini', :value => 0 }
						= t(:off)
				= n.hidden_field :result
		.control-group
			= n.label :status, t('labels.notification_status'), :class => 'control-label'
			.controls
				.btn-group{ 'data-toggle' => 'buttons-radio', 'data-target' => :status, 'data-type' => 'boolean' }
					%button{ :type => 'button', :class => 'btn btn-mini', :value => 1 }
						= t(:on)
					%button{ :type => 'button', :class => 'btn btn-mini', :value => 0 }
						= t(:off)
				= n.hidden_field :status
		.control-group
			= n.label :merchant, t('labels.notification_merchant'), :class => 'control-label'
			.controls
				.btn-group{ 'data-toggle' => 'buttons-radio', 'data-target' => :merchant, 'data-type' => 'boolean' }
					%button{ :type => 'button', :class => 'btn btn-mini', :value => 1 }
						= t(:on)
					%button{ :type => 'button', :class => 'btn btn-mini', :value => 0 }
						= t(:off)
				= n.hidden_field :merchant
		.control-group
			= n.label :action, t('labels.notification_action'), :class => 'control-label'
			.controls
				.btn-group{ 'data-toggle' => 'buttons-radio', 'data-target' => :action, 'data-type' => 'boolean' }
					%button{ :type => 'button', :class => 'btn btn-mini', :value => 1 }
						= t(:on)
					%button{ :type => 'button', :class => 'btn btn-mini', :value => 0 }
						= t(:off)
				= n.hidden_field :action

		.form-actions
			= n.submit t('labels.notification'), :class => 'btn btn-success'