= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' } do |f|

  %fieldset
    %legend 
      = t('devise.sessions.sign_in')
    .control-group
      = f.label t('devise.sessions.email'), :class => 'control-label'
      .controls
        = f.email_field :email
    .control-group
      = f.label t('devise.sessions.password'), :class => 'control-label'
      .controls
        = f.password_field :password
    -if devise_mapping.rememberable?
      .control-group
        .controls
          %label.checkbox
            = f.check_box :remember_me
            = t('devise.sessions.remember_me')
    .form-actions
      = submit_tag t('devise.sessions.sign_in'), :class => 'btn btn-primary'

= render "devise/shared/links"
