.form-item
  = form_tag :action => :category do
    - @firstitem.each do |t|
      .select
        = label_tag t
        = select_tag('keys['+t+']', options_from_collection_for_select(@fields, "id", "name"))
    = hidden_field_tag(:feed_id, @feed_id)
    = submit_tag "Aanpassen"