%h2 Overzicht van websites

- @sites.each do |t|
  %div
    = t.name
    = t.url
    .btn-group
      = link_to 'Edit', edit_site_path(t), :class => 'btn btn-small'

      = form_tag t, :method => :delete, :style => 'margin-bottom: 0' do
        = submit_tag 'Delete', :onclick => 'return confirm("Are you sure?")', :class => 'btn btn-danger btn-small'