= form_for @site, :html => { :class => 'form-horizontal' } do |s|
  %fieldset
    %legend= t('labels.newsite')

    .control-group
      = s.label :name, t('labels.sitename'), :class => 'control-label'
      .controls
        = s.text_field :name, :class => 'input-large'
    .control-group
      = s.label :url, t('labels.url'), :class => 'control-label'
      .controls
        = s.text_field :url, :class => 'input-large'
    .control-group
      = s.label :category_id, t('labels.websitecategory'), :class => 'control-label'
      .controls
        = s.collection_select :category_id, Category.all, :id, :name
    .control-group
      = s.label :description, t('labels.description'), :class => 'control-label'
      .controls
        = s.text_area :description, :cols => "40", :rows => "6", :class => 'input-xxlarge'
    .form-actions
      = s.submit t('labels.editsite'), :class => 'btn btn-success'