!!!
%html
  %head
    %title AdSpire
    = stylesheet_link_tag "application"  
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header#header.navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to t(:company), 'http://www.adspire.nl', :class => 'brand'
          .pull-right
            -if !current_user.blank?
              .btn-group
                = link_to current_user.email, edit_user_registration_path, :class => 'btn'
                = link_to destroy_user_session_path, :method => :get, :class => 'btn btn-danger' do
                  %i.icon-white.icon-off
              -else
                = link_to t(:login), new_user_session_path, :class => 'btn'
    #container.container-fluid
      #main.row-fluid
        %nav#nav-container.span2
          %ul#nav.nav.nav-pills.nav-stacked
            = active_link_to t(:dashboard), root_path, :wrap_tag => :li
            = active_link_to t(:profile), edit_user_registration_path, :wrap_tag => :li
            - if params['controller'] == 'users/registrations'
              %ul
                = active_link_to t(:edit_profile), edit_user_registration_path, :wrap_tag => :li
                = active_link_to t(:notifications), notifications_settings_path, :wrap_tag => :li
            = active_link_to t(:feeds), feeds_path, :wrap_tag => :li
            - if params['controller'] == 'feeds'
              %ul
                = active_link_to t(:all_feeds), feeds_path, :wrap_tag => :li
                = active_link_to t(:own_feeds), own_feeds_path, :wrap_tag => :li
                = active_link_to t(:new_feed), new_feed_path, :wrap_tag => :li
            = active_link_to t(:sites), sites_path, :wrap_tag => :li
            - if params['controller'] == 'sites'
              %ul
                = active_link_to t(:all_sites), sites_path, :wrap_tag => :li
        %section#content.span8
          - if notice
            = notice
          = yield
        %aside#notifications.span2
          %ul.nav.nav-list.well
            %li.nav-header
              .dropdown
                = link_to '#', :class => 'settings dropdown-toggle', 'data-toggle' => 'dropdown' do
                  %i.icon-cog
                %ul.dropdown-menu
                  %li
                    = link_to '#' do
                      Toggle notificaties
                  %li
                    = link_to '#' do
                      Notificatie instellingen
              Notificaties
            %li.divider
            %li
              %button.remove
                &times;
              = link_to('http://www.google.nl') do
                %span.muted
                  14:56:
                Er is een nieuwe leed gezet
            %li
              %button.remove
                &times;
              = link_to('http://www.google.nl', :class => 'text-info' ) do
                %span.muted
                  14:56:
                Er is een nieuwe leed gezet
            %li
              %button.remove
                &times;
              = link_to 'http://www.google.nl', :class => 'text-warning' do
                %span.muted
                  14:56:
                Er is een nieuwe leed gezet
            %li
              %button.remove
                &times;
              = link_to 'http://www.google.nl', :class => 'text-error' do
                %span.muted
                  14:56:
                Er is een nieuwe leed gezet
%footer
  %p
    = "© Adspire "+t = Time.now.strftime("%Y")