!!!
%html
  %head
    %title Adspire
    = stylesheet_link_tag "application"  
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      #top.row
        #branding.span2
          = link_to image_tag( 'logo.png'), 'http://www.adspire.nl'
        .span10
          %ul.table-actions
            %li
              = link_to 'Bewerken', 'http://www.google.nl'
            %li
              = link_to 'Updaten', 'http://www.google.nl'
            %li
              = link_to 'Downloaden', 'http://www.google.nl'
            %li
              = link_to 'Importeren', 'http://www.google.nl'
            
            .notice
              -if current_user
                Huidige gebruiker heeft ID: 
                = current_user.id 
                met emailadres 
                = current_user.email
                met de volgende rol:
                -if current_user.role? :admin
                  Admin
                -if current_user.role? :affiliate
                  Affiliate
                -if current_user.role? :merchant
                  Merchant
                  
            .notice
              = notice

            .alert
              = alert

            .loginform
              - if user_signed_in?
                Ingelogd als
                %strong
                  = current_user.email
                = link_to 'Profiel wijzigen', edit_user_registration_path
                = link_to 'Uitloggen', destroy_user_session_path, method: :delete
              - else
                = link_to 'Registreren', new_user_registration_path
                = link_to 'Login', new_user_session_path
      .row
        #sidebar.span2
          %ul.nav
            %li
              -# Moet nog juisten worden gelinkt! 
              =link_to 'wachtwoord wijzigen', edit_user_password_path   
            %li
              =link_to 'Feeds', feeds_path
            %li
              =link_to 'Aanbieders', '#'
      
        #content.span10
          = yield

