!!!
%html
  %head
    %title Adspire
    = stylesheet_link_tag "application"  
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    %header#header.navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to t(:company), 'http://www.adspire.nl', :class => 'brand'
          .pull-right
            .btn-group
              %button.btn
                -if !current_user.blank?
                  = link_to current_user.email, edit_user_registration_path
              %button.btn.btn-danger
                %i.icon-white.icon-off
    #container.container-fluid
      #main.row-fluid
        %nav#nav-container.span2
          %ul#nav.nav.nav-pills.nav-stacked
            %li.active
              = link_to t(:dashboard), 'http://www.google.nl'
            %li
              = link_to t(:feeds), 'http://www.google.nl'
            %li
              = link_to t(:sites), 'http://www.google.nl'
            %li
              = link_to t(:statistics), 'http://www.google.nl'
            %li
              = link_to t(:payments), 'http://www.google.nl'

        </nav>

        %section#content.span8
          = yield

        %aside#notifications.well.span2
          %ul.nav.nav-list
            %li.nav-header
              %button.close
                %i.icon-cog.pull-right
              Notificaties
            %li.divider
            %li
              %button.close
                &times;
              = link_to('http://www.google.nl') do
                %span.muted
                  14:56 &mdash
                Er is een nieuwe leed gezet
            %li
              %button.close
                &times;
              = link_to('http://www.google.nl') do
                %span.muted
                  14:56 &mdash
                Er is een nieuwe leed gezet
            %li
              %button.close
                &times;
              = link_to('http://www.google.nl') do
                %span.muted
                  14:56 &mdash
                Er is een nieuwe leed gezet
            %li
              %button.close
                &times;
              = link_to('http://www.google.nl') do
                %span.muted
                  14:56 &mdash
                Er is een nieuwe leed gezet
= "&copy; Adspire "+t = Time.now.strftime("%Y")