!!!
%html
  %head
    %title Adspire
    = stylesheet_link_tag "application"  
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #container
      .row#header
        #logo
          = link_to 'adspire', 'http://www.adspire.nl'
        %ul#actions
          %li
            = link_to 'Bewerken', 'http://www.google.nl'
          %li
            = link_to 'Updaten', 'http://www.google.nl'
          %li
            = link_to 'Downloaden', 'http://www.google.nl'
          %li
            = link_to 'Importeren', 'http://www.google.nl'    
        %p#current_user
          ingelogged als
          -if !current_user.blank?
            = link_to current_user.email, edit_user_registration_path
      .row.background
        #sidebar
          %ul#menu
            %li
              = link_to t(:profile), edit_user_registration_path
              = link_to t(:data_feeds), feeds_path
        #main
          -if notice     
            #notice
              = notice
          #content      
            = yield
        #notifications
          .message
            bier is tieten
          .message
            bier is tieten
          .message
            bier is tieten
          .message
            bier is tieten
      .row#footer
        = "© Adspire "+t = Time.now.strftime("%Y")
