%h2= t('labels.editprofile')

= nested_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f|
	= devise_error_messages!

	%fieldset
		%legend= t('labels.editlogin')

		.control-group
			= f.label :email, t('labels.email'), :class => 'control-label', :class => 'control-label'
			.controls
				= f.email_field :email
		
		%p.text-info= t('labels.leaveblank')

		.control-group
			= f.label :password, t('labels.password'), :class => 'control-label'
			.controls
				= f.password_field :password, :value => ''

		.control-group
			= f.label :password_confirmation, t('labels.passwordconfirmation'), :class => 'control-label'
			.controls
				= f.password_field :password_confirmation

		%legend= t('labels.editprofile')

		.control-group
			= f.label :name, t('labels.forname'), :class => 'control-label'
			.controls
				= f.text_field :name

		.control-group
			= f.label :lastname, t('labels.lastname'), :class => 'control-label'
			.controls
				= f.text_field :lastname

		.control-group
			= f.label :street, t('labels.street'), :class => 'control-label'
			.controls
				= f.text_field :street

		.control-group
			= f.label :housenumber, t('labels.housenumber'), :class => 'control-label'
			.controls
				= f.number_field :housenumber

		.control-group
			= f.label :zip, t('labels.zip'), :class => 'control-label'
			.controls
				= f.text_field :zip

		.control-group
			= f.label :place, t('labels.place'), :class => 'control-label'
			.controls
				= f.text_field :place

		.control-group
			= f.label :phone, t('labels.phone'), :class => 'control-label'
			.controls
				= f.telephone_field :phone

		%legend= t('labels.organisation')

		.control-group
			= f.label t(:organisation_type), :class => 'control-label'
			.controls
				.btn-group{ 'data-toggle' => 'buttons-radio', 'data-target' => 'organisation_type' }
					%button{ :type => 'button', :class => 'btn active', :value => 'person'}
						= t('labels.organisation_person')
					%button{ :type => 'button', :class => 'btn', :value => 'business' }
						= t('labels.organisation_business')
				%input{ :type => 'hidden', :id => 'organisation_type', name: 'user[organisation]' }

		.control-group
			= f.label :company_name, t('labels.company_name'), :class => 'control-label'
			.controls
				= f.text_field :company_name

		.control-group
			= f.label :btw, t('labels.btw'), :class => 'control-label'
			.controls
				= f.text_field :btw

		.control-group
			= f.label :kvk, t('labels.kvk'), :class => 'control-label'
			.controls
				= f.text_field :kvk
		
		%p.text-info= t('labels.permission')
		
		.control-group
			= f.label :current_password, t('labels.passwordconfirmation'), :class => 'control-label'
			.controls
				= f.password_field :current_password

		.form-actions
			= f.submit t('labels.editprofile'), :class => 'btn btn-success'

		%legend= t('labels.cancel')

		%p.text-error= t('labels.terminate')
		= link_to t('labels.terminate_button'), registration_path(resource_name), :onclick => 'return confirm("Are you sure?")', :class => 'btn btn-danger'
