%h2= t('users.signup.title')

= nested_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal', :data => 'user' } do |f|
  %fieldset
    = devise_error_messages!

    %legend= t('users.signup.login_details')

    .control-group
      = f.label :email, t('users.signup.email'), :class => 'control-label'
      .controls
        = f.email_field :email, :class => 'input-xlarge'

    .control-group
      = f.label :password, t('users.signup.password'), :class => 'control-label'
      .controls
        = f.password_field :password, :value => '', :class =>' input-xlarge'

    .control-group
      = f.label :password_confirmation, t('users.signup.password_confirmation'), :class => 'control-label'
      .controls
        = f.password_field :password_confirmation, :class => 'input-xlarge'

    %legend= t('users.signup.profile_details')
    
    .control-group
      = f.label :name, t('users.signup.name'), :class => 'control-label', :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'input-xlarge'
    
    .control-group
      = f.label :lastname, t('users.signup.surname'), :class => 'control-label', :class => 'control-label'
      .controls
        = f.text_field :lastname, :class => 'input-xlarge'

    .control-group
      = f.label :phone, t('users.signup.phone'), :class => 'control-label', :class => 'control-label'
      .controls
        = f.telephone_field :phone, :class => 'input-xlarge'

    %legend= t('users.signup.organisation_details')

    .control-group
      = f.label t('users.signup.organisation_type'), :class => 'control-label'
      .controls
        .btn-group{ 'data-toggle' => 'buttons-radio', 'data-target' => 'organisation' }
          %button{ :type => 'button', :class => 'btn active', :value => 'person' }
            = t('users.signup.organisation_person')
          %button{ :type => 'button', :class => 'btn', :value => 'business' }
            = t('users.signup.organisation_business')
        %input{ :type => 'hidden', :id => 'user_organisation', :name => 'user[organisation]' }

    %legend= t('users.signup.site_details')

    = f.fields_for :sites do |s|
      .control-group
        = s.label :name, t('users.signup.site_name'), :class => 'control-label'
        .controls
          = s.text_field :name, :class => 'input-xlarge'

      .control-group
        = s.label :url, t('users.signup.site_url'), :class => 'control-label'
        .controls
          = s.url_field :url, :class => 'input-xlarge'

      .control-group
        = s.label :website, t('users.signup.site_category'), :class => 'control-label'
        .controls
          = collection_select(:sites, :category_id, Category.all, :id, :name)
          = s.link_to_remove t('users.signup.remove_site')

    = f.link_to_add :sites, :class => 'btn pull-right' do
      %i.icon-plus
      = t('users.signup.add_site')

    %legend= t('users.signup.comments')

    .control-group
      = f.text_area :comment, :class => 'span12'

    .form-actions
      = f.submit t('users.signup.submit'), :class => 'btn btn-success'

= render "devise/shared/links"